



.border {
    color: #f9007a !important;

}


.boxRule {
    border: 14px solid #1C6EA4;
    overflow: hidden;
    border-radius: 10px !important;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 28px 10px rgba(0,0,0,0.28); 
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

}

.radiusStyle {
border-bottom: #f9007a solid 4px;
    overflow: hidden;
    border-radius: 10px !important;
border-radius: 20px 20px 20px 20px;
// -webkit-box-shadow: 0px 0px 28px 10px rgba(0,0,0,0.28); 
// box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.5);
-webkit-box-shadow: 17px 17px 15px -6px rgba(0,0,0,0.3); 
box-shadow: 25px 30px 15px -6px rgba(0,0,0,0.2);
}
.radiusStyle1 {
        overflow: hidden;
        border-radius: 10px !important;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 28px 10px rgba(0,0,0,0.28); 
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
    }

    .radiusStyle2 {
        border-radius: 10px !important;
    }

    .bgSvg-new {
        background-color: #f9007a;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23f9007a'/%3E%3Cstop offset='1' stop-color='%23b60059'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23f30077'/%3E%3Cstop offset='1' stop-color='%23b10057'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ed0074'/%3E%3Cstop offset='1' stop-color='%23ac0054'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23e70071'/%3E%3Cstop offset='1' stop-color='%23a70052'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23e1006e'/%3E%3Cstop offset='1' stop-color='%23a20050'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23db006b'/%3E%3Cstop offset='1' stop-color='%239d004d'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23d40068'/%3E%3Cstop offset='1' stop-color='%2399004b'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ce0065'/%3E%3Cstop offset='1' stop-color='%23940048'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23c80062'/%3E%3Cstop offset='1' stop-color='%238f0046'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23c2005f'/%3E%3Cstop offset='1' stop-color='%238a0044'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23bc005c'/%3E%3Cstop offset='1' stop-color='%23850041'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23b60059'/%3E%3Cstop offset='1' stop-color='%2380003f'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    .bgSvg-darkwave {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(18%2c 18%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c558.976C103.225%2c555.535%2c159.989%2c438.289%2c238.68%2c371.394C305.647%2c314.466%2c384.933%2c272.107%2c427.749%2c195.347C472.678%2c114.799%2c484.297%2c22.539%2c484.712%2c-69.691C485.183%2c-174.484%2c495.264%2c-290.63%2c430.304%2c-372.861C364.833%2c-455.739%2c247.939%2c-469.54%2c146.263%2c-498.125C45.728%2c-526.389%2c-54.427%2c-551.244%2c-158.05%2c-538.269C-275.138%2c-523.608%2c-414.453%2c-514.693%2c-483.818%2c-419.231C-553.416%2c-323.449%2c-485.513%2c-189.307%2c-497.224%2c-71.49C-508.237%2c39.301%2c-603.405%2c153.443%2c-550.478%2c251.395C-496.989%2c350.388%2c-347.359%2c332.773%2c-249.132%2c387.657C-159.331%2c437.833%2c-102.811%2c562.404%2c0%2c558.976' fill='%230c0c0c'%3e%3c/path%3e%3cpath d='M1440 1096.0149999999999C1552.217 1115.812 1675.121 1136.23 1774.57 1080.6019999999999 1875.466 1024.166 1927.344 909.3140000000001 1967.5529999999999 800.925 2005.71 698.066 2005.318 589.278 1997.4279999999999 479.854 1988.9940000000001 362.88300000000004 1989.786 238.30599999999998 1920.182 143.92000000000002 1848.5439999999999 46.775999999999954 1734.5059999999999-17.349000000000046 1615.576-37.95600000000002 1502.342-57.57600000000002 1386.056-21.75 1285.54 33.956999999999994 1197.323 82.84800000000001 1145.098 171.77999999999997 1087.607 254.64999999999998 1036.022 329.007 986.054 403.475 967.7080000000001 492.095 948.5450000000001 584.6610000000001 943.8969999999999 682.675 980.995 769.62 1018.5450000000001 857.625 1095.594 919.125 1173.57 974.573 1254.755 1032.3029999999999 1341.897 1078.708 1440 1096.0149999999999' fill='%23181818'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-attachment: fixed;
        background-size: cover;
    }
    .bgSvg-pinkwave {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(120%2c 0%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c640.962C117.959%2c641.813%2c192.855%2c517.218%2c285.33%2c443.983C367.924%2c378.573%2c465.96%2c328.538%2c513.333%2c234.431C561.562%2c138.623%2c553.62%2c28.274%2c548.529%2c-78.867C542.95%2c-196.275%2c570.133%2c-339.798%2c482.334%2c-417.945C392.941%2c-497.51%2c248.503%2c-422.178%2c132.012%2c-449.592C24.953%2c-474.786%2c-58.363%2c-583.418%2c-167.632%2c-570.901C-280.135%2c-558.014%2c-372.705%2c-472.631%2c-442.86%2c-383.741C-511.155%2c-297.208%2c-549.326%2c-189.906%2c-555.203%2c-79.826C-560.779%2c24.605%2c-523.493%2c124.273%2c-474.929%2c216.893C-428.415%2c305.604%2c-357.414%2c373.172%2c-282.698%2c439.886C-194.658%2c518.498%2c-118.026%2c640.111%2c0%2c640.962' fill='%23700037'%3e%3c/path%3e%3cpath d='M1440 1014.318C1528.654 1014.37 1615.342 996.244 1693.6680000000001 954.7149999999999 1776.943 910.562 1841.153 843.5830000000001 1900.3519999999999 770.236 1976.4940000000001 675.896 2084.859 588.13 2087.369 466.922 2089.916 343.905 2004.225 232.75799999999998 1913.195 149.974 1827.559 72.096 1711.034 46.84000000000003 1598.004 21.885999999999967 1491.768-1.5679999999999836 1385.674-8.621999999999957 1278.458 9.840000000000032 1160.161 30.210000000000036 1036.312 52.34800000000001 948.129 133.791 855.649 219.20299999999997 784.621 339.904 784.772 465.79200000000003 784.918 587.691 871.492 690.115 948.9100000000001 784.273 1012.058 861.076 1096.484 912.2370000000001 1186.525 954.415 1266.771 992.005 1351.386 1014.2660000000001 1440 1014.318' fill='%2380003f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-attachment: fixed;
        background-size: cover;
    }
    .bgSvg-pinkwave {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(120%2c 0%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c640.962C117.959%2c641.813%2c192.855%2c517.218%2c285.33%2c443.983C367.924%2c378.573%2c465.96%2c328.538%2c513.333%2c234.431C561.562%2c138.623%2c553.62%2c28.274%2c548.529%2c-78.867C542.95%2c-196.275%2c570.133%2c-339.798%2c482.334%2c-417.945C392.941%2c-497.51%2c248.503%2c-422.178%2c132.012%2c-449.592C24.953%2c-474.786%2c-58.363%2c-583.418%2c-167.632%2c-570.901C-280.135%2c-558.014%2c-372.705%2c-472.631%2c-442.86%2c-383.741C-511.155%2c-297.208%2c-549.326%2c-189.906%2c-555.203%2c-79.826C-560.779%2c24.605%2c-523.493%2c124.273%2c-474.929%2c216.893C-428.415%2c305.604%2c-357.414%2c373.172%2c-282.698%2c439.886C-194.658%2c518.498%2c-118.026%2c640.111%2c0%2c640.962' fill='%23700037'%3e%3c/path%3e%3cpath d='M1440 1014.318C1528.654 1014.37 1615.342 996.244 1693.6680000000001 954.7149999999999 1776.943 910.562 1841.153 843.5830000000001 1900.3519999999999 770.236 1976.4940000000001 675.896 2084.859 588.13 2087.369 466.922 2089.916 343.905 2004.225 232.75799999999998 1913.195 149.974 1827.559 72.096 1711.034 46.84000000000003 1598.004 21.885999999999967 1491.768-1.5679999999999836 1385.674-8.621999999999957 1278.458 9.840000000000032 1160.161 30.210000000000036 1036.312 52.34800000000001 948.129 133.791 855.649 219.20299999999997 784.621 339.904 784.772 465.79200000000003 784.918 587.691 871.492 690.115 948.9100000000001 784.273 1012.058 861.076 1096.484 912.2370000000001 1186.525 954.415 1266.771 992.005 1351.386 1014.2660000000001 1440 1014.318' fill='%2380003f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-attachment: fixed;
        background-size: cover;
    }
    .bgSvg-greylight {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1143%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(231%2c 231%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c485.506C90.283%2c483.773%2c129.444%2c367.423%2c199.556%2c310.516C259.787%2c261.629%2c342.599%2c241.166%2c382.785%2c174.812C425.002%2c105.104%2c438.416%2c19.267%2c424.584%2c-61.046C410.94%2c-140.266%2c365.598%2c-211.011%2c306.882%2c-265.914C251.715%2c-317.498%2c173.907%2c-327.318%2c105.524%2c-359.382C22.023%2c-398.534%2c-51.806%2c-503.657%2c-139.541%2c-475.234C-228.034%2c-446.566%2c-210.883%2c-305.791%2c-273.167%2c-236.7C-337.502%2c-165.334%2c-474.479%2c-164.108%2c-502.79%2c-72.29C-530.365%2c17.139%2c-459.679%2c109.612%2c-402.882%2c183.99C-353.424%2c248.756%2c-269.784%2c269.444%2c-204.541%2c318.272C-132.574%2c372.132%2c-89.872%2c487.231%2c0%2c485.506' fill='%23dbdbdb'%3e%3c/path%3e%3cpath d='M1440 1083.35C1537.773 1070.462 1624.383 1028.479 1712.07 983.3489999999999 1808.953 933.486 1912.908 892.847 1978.784 806.054 2053.811 707.204 2132.418 585.503 2106.076 464.233 2079.737 342.977 1949.279 278.403 1848.459 206.06900000000002 1766.962 147.598 1670.314 127.952 1579.129 86.16899999999998 1468.878 35.64999999999998 1374.866-91.25199999999995 1256.42-65.21600000000001 1139.325-39.476999999999975 1094.051 103.875 1031.971 206.44099999999997 979.1659999999999 293.683 925.656 383.722 922.987 485.665 920.462 582.081 986.798 661.498 1017.664 752.875 1053.0059999999999 857.502 1030.595 993.6569999999999 1117.568 1061.713 1204.156 1129.467 1330.997 1097.7179999999998 1440 1083.35' fill='%23f3f3f3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1143'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-attachment: fixed;
        background-size: cover;
    }
    .bgSvg-imgBg {
        background-image: url("http://www.noelimits.co.za/staging/IX/images/bg.jpg");
        padding: 20px 80px;
        background-size: cover;
        color: #fff;
    }
    .mainHead-Dark {
        font-family: Poppins,Arial,sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
    }
    .mainHead-light {
        font-family: Poppins,Arial,sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        color: #fff;
    }
    .font-color {
        color: #fff;
    }

    .test {
        background: #1488CC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .test1{
        background: #FEAC5E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .test2 {
        background: #DCE35B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .test3{
        background: #f12711;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
.test4 {
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
.textfill {
    background: #00CFC8;
    background: -webkit-linear-gradient(to right, #00CFC8 0%, #CF0671 100%);
    background: -moz-linear-gradient(to right, #00CFC8 0%, #CF0671 100%);
    background: linear-gradient(to right, #00CFC8 0%, #CF0671 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textfill1 {
    background: #69005B;
    background: -webkit-linear-gradient(to bottom left, #69005B 14%, #F9007A 78%);
    background: -moz-linear-gradient(to bottom left, #69005B 14%, #F9007A 78%);
    background: linear-gradient(to bottom left, #69005B 14%, #F9007A 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.gradient {
    background: rgb(237,237,237);
background: linear-gradient(148deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%);
}


.pageSection {

    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 0 0 0;
}

.sectionBgTest {
    background-color: #f9007a;
    background-image: url("/images/bgTest.jpg");
    background-attachment:fixed;
    background-position: 100% 0px;
    background-size: cover;
}

.whiteGradient {
    background: rgb(237,237,237);
    background: linear-gradient(230deg, rgba(237,237,237,0) 0%, rgba(255,255,255,1) 69%);
}